hotel-booking/src/main/resources/hotel.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions 
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
	xmlns:tns="http://www.bp.org/hotel/" 
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
	name="hotel" 
	targetNamespace="http://www.bp.org/hotel/"
	xmlns:bp="http://www.bp.org">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.bp.org/">
		<xsd:import schemaLocation="hotel.xsd" namespace="http://www.bp.org"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="bookRoomRequestMsg">
    <wsdl:part element="bp:bookRoomRequest" name="payload"/>
  </wsdl:message>
  <wsdl:message name="bookRoomResponseMsg">
    <wsdl:part element="bp:bookRoomResponse" name="payload"/>
  </wsdl:message>
  <wsdl:message name="cancelBookingRequestMsg">
    <wsdl:part element="bp:cancelBookingRequest" name="payload"/>
  </wsdl:message>
  <wsdl:message name="cancelBookingResponseMsg">
    <wsdl:part element="bp:cancelBookingResponse" name="payload"/>
  </wsdl:message>  
  <wsdl:message name="hotelFaultMsg">
    <wsdl:part element="bp:hotelFault" name="payload"/>
  </wsdl:message>  
  <wsdl:portType name="HotelBooking">
    <wsdl:operation name="bookRoom">
      <wsdl:input message="tns:bookRoomRequestMsg"/>
      <wsdl:output message="tns:bookRoomResponseMsg"/>
      <wsdl:fault message="tns:hotelFaultMsg" name="hotelFault"/>
    </wsdl:operation>
    <wsdl:operation name="cancelBooking">
      <wsdl:input message="tns:cancelBookingRequestMsg"/>
      <wsdl:output message="tns:cancelBookingResponseMsg"/>
      <wsdl:fault message="tns:hotelFaultMsg" name="hotelFault"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="HotelBookingSOAP" type="tns:HotelBooking">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="bookRoom">
      <soap:operation soapAction="http://www.bp.org/hotel/bookRoom"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="hotelFault">
      	<soap:fault name="hotelFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="cancelBooking">
      <soap:operation soapAction="http://www.bp.org/hotel/cancelBooking"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="hotelFault">
      	<soap:fault name="hotelFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>    
  </wsdl:binding>
  <wsdl:service name="HotelBookingService">
    <wsdl:port binding="tns:HotelBookingSOAP" name="HotelBookingPort">
      <soap:address location="http://www.bp.org/hotel/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>