flight-booking-old/src/main/resources/fligth.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://flight.bp.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="FlightServiceService" targetNamespace="http://flight.bp.org/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://flight.bp.org/" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://flight.bp.org/">
  <xs:element name="bookFligth" type="tns:bookFligth"/>
  <xs:element name="bookFligthResponse" type="tns:bookFligthResponse"/>
  <xs:element name="cancelBooking" type="tns:cancelBooking"/>
  <xs:element name="cancelBookingResponse" type="tns:cancelBookingResponse"/>
  <xs:complexType name="bookFligth">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:flightTicket"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="flightTicket">
    <xs:sequence>
      <xs:element minOccurs="0" name="flight" type="tns:flight"/>
      <xs:element minOccurs="0" name="person" type="tns:person"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="flight">
    <xs:sequence>
      <xs:element minOccurs="0" name="from" type="tns:point"/>
      <xs:element minOccurs="0" name="to" type="tns:point"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="point">
    <xs:sequence>
      <xs:element minOccurs="0" name="airport" type="xs:string"/>
      <xs:element minOccurs="0" name="date" type="xs:anySimpleType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="person">
    <xs:sequence>
      <xs:element minOccurs="0" name="firstName" type="xs:string"/>
      <xs:element minOccurs="0" name="lastName" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="bookFligthResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:bookingInfo"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="bookingInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="cost" type="xs:decimal"/>
      <xs:element name="id" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="cancelBooking">
    <xs:sequence>
      <xs:element name="arg0" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="cancelBookingResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:bookingInfo"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Fault" type="tns:Fault"/>
  <xs:complexType name="Fault">
    <xs:sequence>
      <xs:element minOccurs="0" name="code" type="xs:int"/>
      <xs:element minOccurs="0" name="text" type="xs:string"/>
      <xs:element minOccurs="0" name="message" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="bookFligthResponse">
    <wsdl:part element="tns:bookFligthResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="cancelBooking">
    <wsdl:part element="tns:cancelBooking" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="cancelBookingResponse">
    <wsdl:part element="tns:cancelBookingResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="Fault">
    <wsdl:part element="tns:Fault" name="Fault">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="bookFligth">
    <wsdl:part element="tns:bookFligth" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="FlightService">
    <wsdl:operation name="bookFligth">
      <wsdl:input message="tns:bookFligth" name="bookFligth">
    </wsdl:input>
      <wsdl:output message="tns:bookFligthResponse" name="bookFligthResponse">
    </wsdl:output>
      <wsdl:fault message="tns:Fault" name="Fault">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="cancelBooking">
      <wsdl:input message="tns:cancelBooking" name="cancelBooking">
    </wsdl:input>
      <wsdl:output message="tns:cancelBookingResponse" name="cancelBookingResponse">
    </wsdl:output>
      <wsdl:fault message="tns:Fault" name="Fault">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="FlightServiceServiceSoapBinding" type="tns:FlightService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="bookFligth">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="bookFligth">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="bookFligthResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="Fault">
        <soap:fault name="Fault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="cancelBooking">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="cancelBooking">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="cancelBookingResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="Fault">
        <soap:fault name="Fault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FlightServiceService">
    <wsdl:port binding="tns:FlightServiceServiceSoapBinding" name="FlightServicePort">
      <soap:address location="http://localhost:8081/soap-api/service/fligth"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>